<div class="contents row">
  <%= link_to "投稿する", new_sell_path, class: 'your-css-class' %>
  <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %>

  <% @sells.each do |sell| %>
    <div class="sell-post">
      <div class="sell-status">
        <%= sell.status.name %>
      </div>
      <div class="sell-item">
        <%= link_to sell.item, sell_path(sell.id) %>
      </div>
      <div class="name">
        <%= sell.limit %>
      </div>
      <% if sell.user == current_user %>
        <div class="delete-btn">
          <%= link_to "削除", sell_path(sell), data: { turbo_method: :delete } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>