<div class="contents row">
  <%= link_to "投稿する", new_sell_path, class: 'your-css-class' %>
  <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %>

    <div class="sell-post">
      <div class="sell-status">
        <%= @sell.status.name %>
      </div>
      <div class="sell-item">
        <%= link_to @sell.item, sell_path(@sell.id) %>
      </div>
      <div class="name">
        <%= @sell.limit %>
      </div>
      <div class ="edit-btn">
        <%= link_to "編集する", edit_sell_path(@sell.id) %>
    </div>
</div>